.navbar1{
    /* position: fixed; */
    width: 100%;
    height: 170px;
    border: 1px solid black;
    /* top: 0; */
}

.navbar2{
    text-align: center;
    text-decoration: underline;
    color: black;
    width: 100%;
    height: 14%;
    border: 1px solid black;
}
.navbar3{
    width:100% ;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
}
.navbar3p{
    
    color: white;
    background-color: black;
}
.navbar3p2{
    color: white;
    background-color: black;
}

.n3{
    display: flex;
    justify-content: space-evenly;
}

.dis{
    display: flex;
    background-color: white;
    justify-content: space-evenly;
}

/* .dis:hover{
    display: block;
    cursor: pointer;
} */
/* :hover.h3{
display: grid;
} */
.dropbtn {
    /* background-color: #04AA6D; */
    color:black;
    padding: 16px;
    font-size: 16px;
    border: none;
    background-color: white;

    /* margin-left: ; */
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /* display: flex; */
    /* justify-content: space-evenly; */
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {

    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd; cursor: pointer;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

  .button-5 {
    /* margin-top: 2%; */
    height: 20px;
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    /* margin: 0; */
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }

  .username{
   
    color: white;
    font-size: 16px;
    background-color: black;
    /* font-weight: bolder; */
    /* margin-bottom: 100px; */
  }

  .one{
    width: 100%;
    height: 400px;
    border: 10px solid green;
    margin-top: 20px;
  }